<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>CoffeeScript Tools</string>
	<key>uuid</key>
	<string>4B51B8CE-2DD0-42C2-9992-C136CAECB294</string>
</dict>
</plist>
